:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-body-color: #fff;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2f303a;
  --background-header-color: #fff;
  --background-banner-color: #C4C4C4;
  --backgruund-btn-filter-color: #f5f4fa;
  --backgraund-feature-icon-color: #f5f4fa;
  --background-team-color: #f5f4fa;
  --background-team-card-color: #fff;
  --background-clients-color: #AFB1B8;
  --shadow-one-team-card-color: rgba(0, 0, 0, 0.12);
  --shadow-two-team-card-color: rgba(0, 0, 0, 0.14);
  --shadow-three-team-card-color: rgba(0, 0, 0, 0.2);
  --shadow-one-work-exampl-color: rgba(0, 0, 0, 0.12);
  --shadow-two-work-exampl-color: rgba(0, 0, 0, 0.06);
  --shadow-three-work-exampl-color: rgba(0, 0, 0, 0.16);
  --shadow-one-btn-filter-color: rgba(0, 0, 0, 0.1);
  --shadow-two-btn-filter-color: rgba(0, 0, 0, 0.08);
  --shadow-three-btn-filter-color: rgba(0, 0, 0, 0.12);
  --background-work-exampl-color: #fff;
  --primary-logo-color: #000;
  --accent-color: #2196f3;
  --accent-text-background-color: #fff;
  --button-header-border-color: rgba(0, 0, 0, 0.15);
  --footer-address-link-color: rgba(255, 255, 255, 0.6);
  --work-exampl-border-color: #eee;
  --header-line-color: #ececec;
  --primary-icon-color: #AFB1B8;
  --secondary-icon-color: #fff;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнулеzния верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* Класс для обнуления базовых свойств у списков (ul) */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Класс для обнуления базовых свойств у ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

/* Свойства для корректного отображения картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Свойства для обнуления курсива у address */
address {
  font-style: normal;
}

/* ---------------------  ГЛОБАЛЬНЫЕ КЛАССЫ --------------------------*/

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--background-body-color);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* ---------------------  ШАПКА --------------------------*/

.header .container {
  display: flex;
}

.header {
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--background-der-color);
  border: 1px solid var(--header-line-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .logo {
  margin-right: 93px;
}

.site-nav.list {
  display: flex;
}

.site-nav .item+.item {
  margin-left: 50px;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--primary-logo-color);
}

.link {
  font-style: normal;
  text-decoration: none;
  color: var(--primary-text-color);
}

.header .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info.list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.info>.item+.item {
  margin-left: 30px;
}

.icon-info {
  margin-right: 10px;
  width: 16px;
  height: 16px;
  fill: inherit;
  vertical-align: middle;
}

.accent,
.site-nav .current,
.site-nav .link:focus,
.site-nav .link:hover,
.info .link:focus,
.info .link:hover {
  color: var(--accent-color);
  fill: currentColor;
}

/* ---------------------  БАННЕР  --------------------------*/

.banner {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--background-banner-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.banner-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 695px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--accent-text-background-color);
}

/* ---------------------  КНОПКА БАННЕРА  --------------------------*/

.button-header {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--accent-text-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px var(--button-header-border-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* ---------------------  НАШИ ПРЕИМУЩЕСТВА  --------------------------*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.feature.list {
  display: flex;
}

.feature .item+.item {
  margin-left: 30px;
}

.feature>.item {
  width: 270px;
}

.case-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--backgraund-feature-icon-color);
  border-radius: 4px;
}

.feature-icon {}

.feature-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.feature-description {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* ---------------------  ЧЕМ ЗАНИМАЕМСЯ  --------------------------*/

.directions {
  padding-top: 0;
}

.directions .section-title {
  margin-bottom: 50px;
}

.type-work.list {
  display: flex;
}

.type-work .item+.item {
  margin-left: 30px;
}

/* ---------------------  НАША КОМАНДА  --------------------------*/

.team {
  background-color: var(--background-team-color);
}

.team .section-title {
  margin-bottom: 50px;
}

.workers.list {
  display: flex;
}

.job-card+.job-card {
  margin-left: 30px;
}

.job-card {
  width: 270px;
  text-align: center;
  background-color: var(--background-team-card-color);
  box-shadow: 0px 1px 3px var(--shadow-one-team-card-color),
    0px 1px 1px var(--shadow-two-team-card-color), 0px 2px 1px var(--shadow-three-team-card-color);
  border-radius: 0px 0px 4px 4px;
}

.job-card-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.job-card .name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.job-title {
  margin-bottom: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}

.social-networks-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  justify-content: center;
  list-style: none;
}

.social-networks-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-networks-item+.social-networks-item {
  margin-left: 10px;
}

.link.social-networks {
  display: inline-block;
  padding: 12px;
}

.team-social-networks-icon {
  width: 20px;
  height: 20px;
  fill: var(--primary-icon-color);
}

.social-networks-networks-item:focus,
.social-networks-item:hover {
  background-color: var(--accent-color);
}

.social-networks-item:focus .team-social-networks-icon,
.social-networks-item:hover .team-social-networks-icon {
  fill: var(--secondary-icon-color);
}

/* ---------------------  ПОСТОЯННЫЕ КЛИЕНТЫ  --------------------------*/

.clients {
  background-color: var(--primary-background-color);
}

.clients .section-title {
  margin-bottom: 50px;
}

.client.list {
  display: flex;
}

.client .item {
  width: 170px;
  height: 92px;
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;
}

.client>.item+.item {
  margin-left: 30px;
}

.client-brand {
  display: block;
  padding: 14px 32px;
}

.icon-brand {
  width: 106px;
  height: 60px;
  fill: var(--primary-icon-color);
}

.client>.item:hover,
.client>.item:focus {
  border-color: var(--accent-color);
}

.client>.item:hover .icon-brand,
.client>.item:focus .icon-brand {
  fill: var(--accent-color);
}

/* ---------------------  ФУТЕР  --------------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.footer>.container {
  display: flex;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.link.info {
  margin-top: 9px;
}

.footer-address.list {
  font-size: 14px;
  line-height: 1.71;
}

.footer-address .link {
  color: var(--footer-address-link-color);
}

.footer .logo,
.link.address {
  color: var(--accent-text-background-color);
}

.link.info:focus,
.link.info:hover {
  color: var(--accent-color);
}

.footer-social-networks {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-social-networks .social-networks-list {
  justify-content: start;
}

.social-networks-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--accent-text-background-color);
  text-transform: uppercase;
}

.footer-social-networks .social-networks-item {
  background: rgba(255, 255, 255, 0.1);
}

.footer-social-networks .team-social-networks-icon {
  fill: var(--secondary-icon-color);
}

.social-networks-networks-item:focus,
.social-networks-item:hover {
  background-color: var(--accent-color);
}


/* --------------------  ПОРТФОЛИО  --------------------------*/

/* ---------------------  ФИЛЬТР --------------------------*/

.filter.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter .item+.item {
  margin-left: 8px;
}

.btn-filter {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--backgruund-btn-filter-color);
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
}

.filter>.item:nth-child(1) .btn-filter,
.active,
.btn-filter:focus,
.btn-filter:hover {
  color: var(--accent-text-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px var(--shadow-one-btn-filter-color),
    0px 1px 2px var(--shadow-two-btn-filter-color),
    0px 2px 2px var(--shadow-three-btn-filter-color);
}

.filter .item:first-child .btn-filter {}

/* ---------------------  ПРИМЕРЫ РАБОТ  --------------------------*/

.work-examples {
  display: flex;
  flex-wrap: wrap;
}

.work-exampl {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: var(--background-work-exampl-color);
  border: 1px solid var(--work-exampl-border-color);
}

.work-exampl:nth-child(3n) {
  margin-right: 0;
}

.work-exampl:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.work-exampl-box {
  padding: 20px 24px;
}

.work-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.work-type {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.work-exampl:focus,
.work-exampl:hover {
  box-shadow: 0px 1px 1px var(--shadow-one-work-exampl-color),
    0px 4px 4px var(--shadow-two-work-exampl-color),
    1px 4px 6px var(--shadow-three-work-exampl-color);
}

/* ---------------------  ХХХ  --------------------------*/


/* ---------------------  ХХХ --------------------------*/


/* ---------------------  ХХХ  --------------------------*/